/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url('leaguegothic-regular-webfont.eot');
  src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('leaguegothic-regular-webfont.woff') format('woff'), url('leaguegothic-regular-webfont.ttf') format('truetype'), url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-moz-keyframes scaler {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-ms-keyframes scaler {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scaler {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-moz-keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #eee6ce;
}
header {
  height: 60px;
  background: #333;
}
.logo {
  margin: 0 10%;
  margin-top: 100px;
  width: 80%;
  min-height: 1em;
  background: #333;
  padding: 20px;
}
.inlineBlock {
  display: inline-block;
  position: relative;
}
.stroke {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.4em;
  height: 0.15em;
  background: black;
  z-index: 100;
}
.strokedText {
  background: inherit;
  position: relative;
  padding: 0 10px;
  z-index: 101;
  display: inline-block;
}
.powefulText {
  font-family: 'League Gothic';
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1em;
}
.highlight {
  color: #f33300;
}
.curveImg {
  margin-top: -1em;
}
.alwaysSick {
  margin-top: 1em;
}
.alwaysSick .strokedText {
  background: #eee6ce;
}
.section {
  padding: 2em 0;
}
.oneOfTen {
  background: url('binding_dark.png');
  color: #fff;
}
.oneOfTen .strokedText {
  background: #333;
  background: url('binding_dark.png');
}
.oneOfTen .stroke {
  background: white;
}
.faces {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.faces img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 4px solid white;
  position: relative;
  -webkit-animation-name: scaler;
  -moz-animation-name: scaler;
  -o-animation-name: scaler;
  animation-name: scaler;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}
.person {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 4px solid white;
  position: relative;
  -webkit-animation-name: scaler;
  -moz-animation-name: scaler;
  -o-animation-name: scaler;
  animation-name: scaler;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}
.missingFaces {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: -100px;
}
.missingFaces img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 4px solid white;
  position: relative;
  -webkit-animation-name: scaler;
  -moz-animation-name: scaler;
  -o-animation-name: scaler;
  animation-name: scaler;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}
.missingFaces img:nth-child(4) {
  top: -100px;
  right: -100px;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.missingFaces img:nth-child(3) {
  top: -50px;
  right: -100px;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.missingFaces img:nth-child(2) {
  right: -100px;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.missingFaces img:nth-child(1) {
  right: -100px;
}
.faces img:nth-child(2) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  top: 80px;
}
.faces img:nth-child(3) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  top: -20px;
}
.faces img:nth-child(4) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  top: 60px;
}
.faces img:nth-child(5) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
  top: 160px;
}
@media (max-width: 600px) {
  .faces {
    position: relative;
    margin-top: -1.5em;
  }
  .faces img {
    top: 0 !important;
  }
}
.relative {
  position: relative;
}
.everyDay {
  background: #eee6ce;
}
.everyDay .inlineBlock {
  text-align: left;
}
.everyDay .strokedText {
  background: #eee6ce;
}
.everyDayCircle {
  width: 300px;
  height: 300px;
  background: black;
  display: inline-block;
  /* float: left; */
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  position: relative;
}
.everyDayCircle img {
  padding-top: 130px;
}
.moreThanTraffic {
  background: #f33300;
  color: #fff;
  font-size: 200px;
}
.moreThanTraffic .highlight {
  color: #333;
}
.support {
  background: url('binding_dark.png');
  color: #fff;
  font-size: 150px;
}
.callToAction {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  border: 5px solid white;
  color: #f33300;
  text-decoration: none;
}
.noastyle {
  text-decoration: none;
}
.reflink {
  text-align: center;
  font-family: 'League Gothic';
  margin-bottom: 100px;
  font-size: 30px;
}
.reflink a:visited,
.reflink a {
  color: #00A8FF;
}
.builtby {
  font-family: 'League Gothic';
}
.builtby a,
.builtby a:visited {
  color: #00A8FF;
}
.noastyle {
  text-decoration: none;
}
.fadeImg {
  margin: 0 auto;
  position: relative;
  width: 128px;
  height: 128px;
  display: inline-block;
}
.fadeImg img {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.fadeImg img:nth-child(2) {
  -webkit-animation-name: fader;
  -moz-animation-name: fader;
  -o-animation-name: fader;
  animation-name: fader;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}
.endFaces {
  margin: 50px 0;
}
.endFaces :nth-child( 1) :nth-child(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.endFaces :nth-child( 2) :nth-child(2) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.endFaces :nth-child( 3) :nth-child(2) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.endFaces :nth-child( 4) :nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
